name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Git
      run: |
        git config --global user.email "bot@branchops.dev"
        git config --global user.name "BranchOps Bot"
        git config --global init.defaultBranch main
    
    - name: Install BATS
      run: |
        sudo apt-get update
        sudo apt-get install -y bats
        
    - name: Run Tests
      run: bats test/
